#transcard{
  background-image: url("images/reloadablePass.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 255px;
  width: 400px;
  border: none;
  margin: 0 auto 0 auto;
}

#transticket{
  background-image: url("images/transitTicket.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 290px;
  width: 400px;
  border: none;
  margin: 0 auto 0 auto;
}
#card, #ticket
{
  align-self: center;
}
#languages
{
  height: auto;
  width: auto;
  font-size: 16px;
  margin: auto;
}

#scan{
  font-size: 24px;
  margin: 0 auto 0 auto;
  height: 100px;
  width: 600px;
}

#backToHome{
  height: 50px;
  width: 150px;
}

#BalanceCanvas{
  margin: 0 auto 0 auto;
  border:1px solid #000000;
}

#balances{
  margin-top: 20px;
  width: 300px;
}

#balance{
  font: 50px;
  width: 400px;
  border:1px solid #000000;
}

.form-group{
  margin-top: 40px;
  margin-left:30px;
}

#numpad{
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
}

#continue{
  height: 50px;
  width: 150px;
  margin-top: 500px;
}

#thankyou{
  margin-top: 10%;
  margin-left: 35%;
  font: Arial;
  font-size: 5em;
}

#print, #exit
{
  margin-top: 50px;
  font-size: 24pt;
  width: 330px;
  margin-left: 35%;
}

#dispense
{
  background-image: url("images/ticketDispensing.png");
  background-repeat:no-repeat;
  border: none;
  background-size:100%;
  margin-left:35%;
  margin-top:5%;
  width:334px;
  height:310px;
}
